<div class="my-4 border-t border-slate-300 rounded-lg p-2">
  <h1 class="text-xl font-semibold"><%= river_data[:name] %></h1>
  <p class="font-bold <%= class_names(
  "text-green-500" => river_data[:status] == :ok,
  "text-yellow-500" => river_data[:status] == :action,
  "text-red-500" => river_data[:status] == :flood
  ) %>">STATUS: <%= river_data[:status].upcase %></p>
  <p>Level was
    <b class="font-semibold">
      <%= river_data[:current_level] %>ft
    </b>
    <%= time_ago_in_words(river_data[:last_checked_at]) %>
    ago and trending
    <%= river_data[:trend] %>
    <span title="<%= river_data[:previous_level] %>" class="font-semibold bg-gray-100 rounded-full px-2 py-1">
      <%= river_data[:trend_percentage] %>%
    </span>
  </p>
  <span class="text-sm font-semibold text-gray-700"><%= time_ago_in_words(river_data[:max]['valid']).capitalize %> ago, the river peaked at <%= river_data[:max]['primary'] %>ft.</span></p>
  <%= link_to 'More info', @more_info_url, target: "_blank", class: "text-xs text-blue-500 underline" %>

  <%= line_chart river_data[:graph_data], id: "#{river_data[:name]}_chart", xtitle: "Time", ytitle: "Stage ft" %>
</div>